@model IEnumerable<Tarea4.Models.Pokemon>



<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<audio autoplay>
    <source src="~/1-20. Pokémon Gym.mp3" type="audio/mp3">
    Tu navegador no soporta la etiqueta de audio.
</audio>


<div class="container w-75 big-card my-0 mx-auto">
    
    <div class=" container p-2 ">
        <div class="row d-flex justify-content-start w-50 h-50">
            <a href="@Url.Action("Index", "Home")" class="btn btn-pokemon-list w-25 shadow">
                <div class="row ">
                    <div class="col-5  d-flex align-items-center justify-content-end">
                        <span class="material-symbols-outlined ">
                            undo
                        </span>
                    </div>
                    <div class="col-7 d-flex align-items-center justify-content-start">
                        <p class="mb-0">Atrás</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="container-fluid ">

            <div class="container pokemon-container mt-1 p-3 h-50">
                <p class="  my-0 text-center title">EQUIPO ALEATORIO</p>
                <hr />
        <div class="row my-5 ">
        
            @foreach (var item in Model)
            {
                <div class="col-2">
                    <div class="container card-team vib shadow">
                        <div class="row justify-content-center"> <img class="w-75" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/@(item.Numero_Pokedex.ToString("D3")).png" alt="Imagen del Pokémon" /></div>
                        <div class="row text-center text-uppercase mt-2 fw-bold"> <p class="nombre">@Html.DisplayFor(modelItem => item.Nombre)</p></div>
                        <div class="row justify-content-center mt-3">
                            <a href="@Url.Action("PokemonDetails", "Pokemon", new { numeroPokedex = @item.Numero_Pokedex })" class="btn btn-pokemon-list w-50 ">Detalles</a>
                        </div>
                    </div>
                </div>
            }
            </div>
            <hr />
        
            <div class="container">
             
                <div class="row text-center">
                    <div class="col"><p class="th shadow ">Nº POKÉMONS</p></div>
                    <div class="col "><p class="th shadow ">TIPO PREDOMINANTE</p></div>
                    <div class="col"><p class="th shadow ">PESO MEDIO</p></div>
                    <div class="col "><p class="th shadow ">ALTURA MEDIA</p></div>
                </div>
                <div class="row text-center">
                    <div class="col"><p class="card-list">Cantidad de Pokémon [@ViewBag.N]</p></div>
                    <div class="col"><p class="card-list">Tipo Predominante [@ViewBag.Type]</p></div>
                    <div class="col"><p class="card-list">Peso Medio [@ViewBag.WeightAvg Kg]</p></div>
                    <div class="col "><p class="card-list">Altura Media [@ViewBag.HeightAvg m]</p></div>
                </div>
            </div>

        <div class="row d-flex justify-content-center mt-5">
                <a href="@Url.Action("RandomTeam", "Pokemon")" class="btn btn-pokemon-list w-25 shadow">Generar nuevo equipo</a>
        </div>





            </div>
    </div>
    </div>
</div>