@model IEnumerable<MyRealState.Models.Properties>

    

@{
    ViewData["Title"] = "MyProperties";
}



<div class="container-fluid w-100 " style="height: 70vh" id="map" ></div>

<div class="container py-3">

    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bedrooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bathrooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model)
            {
                <tr>
                    <td class="id" hidden>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="type">
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td class="area">
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bedrooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bathrooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentPrice)
                    </td>
                    <td class="status">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td class="coordinates" hidden>
                        @Html.DisplayFor(modelItem => item.Coordenates)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>


                </tr>
            }
        </tbody>
    </table>


</div>