@using System.Web
@model IEnumerable<MyRealState.Models.Property>
<link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true" />

@{
    ViewData["Title"] = "kalaria | Vacaciones en Galicia";
}

<div class="container-fluid p-0 bg-white " id="like-body">
    
    <div class="row p-5 pt-0">
        <div class="col-8 pt-0 pe-4" > 
            <div class="row p-4 small">
                <div class="col-1 d-flex align-items-center">
                    <button type="button" class="main-dropdown d-flex align-items-center justify-content-center w-100 h-50" id="toggle-btn">
                        <span class="material-symbols-outlined me-1">
                            tune
                        </span>
                        Filtros                        
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    chalet
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Chalet
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    cottage
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Rural
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    castle
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Pazo
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    cabin
                                </span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Cabaña
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    apartment
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Piso
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    brightness_empty
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Vacío
                            </div>
                        </div>
                    </button>
                </div>
                  <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    brightness_empty
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Vacío
                            </div>
                        </div>
                    </button>
                </div>
                  <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    brightness_empty
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Vacío
                            </div>
                        </div>
                    </button>
                </div>
                  <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    brightness_empty
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Vacío
                            </div>
                        </div>
                    </button>
                </div>
                  <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    brightness_empty
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Vacío
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-type w-100" id="toggle-btn">
                        <div class="row">
                            <div class="col small">
                                <span class="material-symbols-outlined">
                                    brightness_empty
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col small">
                                Vacío
                            </div>
                        </div>
                    </button>
                </div>
                
            </div>
            <div class="row">
            @foreach (var item in Model)
            {
                    <div class="col-md-3 property p-4 pt-0">
                        <div class="card mb-3 w-100 border-0 ">
                            <div class="row">
                                <div class="col rounded-3 p-0 ">
                                    <div id="carouselExample-@item.Id" class="carousel slide" data-bs-interval="false">
                                        <ol class="carousel-indicators">
                                            <li data-bs-target="#carouselExample-@item.Id" data-bs-slide-to="0" class="active"></li>
                                            <li data-bs-target="#carouselExample-@item.Id" data-bs-slide-to="1"></li>
                                            <li data-bs-target="#carouselExample-@item.Id" data-bs-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner property-img-catalog">
                                            <div class="carousel-item active">
                                                <a href="/Property/Details/@item.Id" class="text-dark text-decoration-none d-block">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <img src="https://a0.muscache.com/im/pictures/f9eccd26-ed9d-4cb3-a2a7-628598598373.jpg?im_w=720" class="d-block w-auto img-fluid" style="max-height: 100%; max-width: 150%;" alt="...">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="carousel-item">
                                                <a href="/Property/Details/@item.Id" class="text-dark text-decoration-none d-block">
                                                    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                        <img src="https://a0.muscache.com/im/pictures/f9eccd26-ed9d-4cb3-a2a7-628598598373.jpg?im_w=720" class="d-block w-auto img-fluid" style="max-height: 100%; max-width: 150%;" alt="...">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="carousel-item">
                                                <a href="/Property/Details/@item.Id" class="text-dark text-decoration-none d-block">
                                                    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                        <img src="https://a0.muscache.com/im/pictures/f9eccd26-ed9d-4cb3-a2a7-628598598373.jpg?im_w=720" class="d-block w-auto img-fluid" style="max-height: 100%; max-width: 150%;" alt="...">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample-@item.Id" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample-@item.Id" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>                          
                            <div class="row mt-2">
                                <a href="/Property/Details/@item.Id" class="text-dark text-decoration-none col"> 
                                    <div class="row my-1">
                                        <div class="col-10 p-0 text-start fw-bold">
                                            @Html.DisplayFor(modelItem => item.City), <span class="city">@Html.DisplayFor(modelItem => item.Province)</span>
                                        </div>
                                        <div class="col-2 p-0 small d-flex align-items-center justify-content-end">
                                            <span class="material-symbols-outlined m-0 me-1 main-color">
                                                stars
                                            </span>
                                            @Html.DisplayFor(modelItem => item.Id),45

                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col p-0 text-start text-muted">
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col p-0 text-start text-muted">
                                            Simulacion días
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col p-0 text-start fw-bold">
                                            @Html.DisplayFor(modelItem => item.RentPrice) € noche
                                        </div>
                                    </div>
                                          
                                </a>
                            </div>


                            <div class="id" hidden>
                                @Html.DisplayFor(modelItem => item.Id)
                            </div>
                            <div hidden class="coordinates">
                                @Html.DisplayFor(modelItem => item.Coordenates)
                            </div>
                            <div class="status" hidden>
                                @Html.DisplayFor(modelItem => item.Status)
                            </div>
                            <div class="adress" hidden>
                                @Html.DisplayFor(modelItem => item.Address)
                            </div>

                            <div class="city" hidden>
                                @Html.DisplayFor(modelItem => item.City)
                            </div>
                            <div class="country" hidden>
                                @Html.DisplayFor(modelItem => item.Country)
                            </div>
                             
                        </div>
                    </div>
                    
                

            }
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <nav aria-label="Page navigation example text-black">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link text-black" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link text-black" href="#">1</a></li>
                            <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
                            <li class="page-item"><a class="page-link text-black" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            
        </div>

        <div class="col-4  p-0 py-4" style="z-index:1;">
            <div class="container-fluid w-100 map sticky-top" id="map"></div>
        </div>
    </div>
</div>
<div class="my-3 drop-menu px-0 py-3" id="drop-menu">
    <form action="PropertiesCatalog" method="GET" class="p-4 drop-menu-form " >
        <div class="row mb-1 p-0">
            <div class="col text-center">
                <label for="province" class="text-black fs-5 fw-bold">Provincia</label>
            </div>
            <div class="col text-center">
                <label for="city" class="text-black fs-5 fw-bold">Ciudad</label>
            </div>
        </div>
        <div class="row p-0">
            <div class="col d-flex align-items-center">
                <select class="main-dropdown w-100" id="tipo" name="tipo">
                    <option value="">Indeferente</option>
                    <option value="Hou">Pontevedra</option>
                    <option value="Apt">Lugo</option>
                </select>
            </div>
            <div class="col d-flex align-items-center">
                <select class="main-dropdown w-100" id="tipo" name="tipo">
                    <option value="">Indeferente</option>
                    <option value="y">Vigo</option>
                    <option value="s1">Lugo</option>
                    <option value="s2">Monforte</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="row mb-1 p-0">
            <div class="col text-center">
                <label for="minPrice" class="text-black fs-5 fw-bold">Tipo de Inmueble</label>
            </div>
            <div class="col text-center">
                <label for="minPrice" class="text-black fs-5 fw-bold">Duración</label>
            </div>
        </div>
        <div class="row p-0">
            <div class="col d-flex align-items-center">
                <select class="main-dropdown w-100" id="tipo" name="tipo">
                    <option value="">Indeferente</option>
                    <option value="Hou">Casa</option>
                    <option value="Apt">Piso</option>
                </select>
            </div>
            <div class="col d-flex align-items-center">
                <select class="main-dropdown w-100" id="tipo" name="tipo">
                    <option value="">Indeferente</option>
                    <option value="y">Año acádemico</option>
                    <option value="s1">Semestre I</option>
                    <option value="s2">Semestre II</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="row mb-1 p-0">
            <label for="price" class="text-black fs-5 fw-bold">Precio alquiler</label>
        </div>
        <div class="row mb-1 p-0">
            <div class="col text-center">
                <label for="minPrice" class="text-black">Mínimo</label>
            </div>
            <div class="col text-center">
                <label for="minPrice" class="text-black">Máximo</label>
            </div>
        </div>
        <div class="row p-1">
            <div class="col d-flex align-items-center" name="minPrice">
                <input type="range" class="form-range m-0" min="0" max="1000" step="50" id="customRange3">
            </div>
            <div class="col d-flex align-items-center" name="minPrice">
                <input type="range" class="form-range m-0" min="0" max="1000" step="50" id="customRange3">
            </div>
        </div>
        <hr>
        <div class="row mb-1 p-0">
            <div class="col text-center">
                <label for="minPrice" class="text-black fs-5 fw-bold">Habitaciones</label>
            </div>
            <div class="col text-center">
                <label for="minPrice" class="text-black fs-5 fw-bold">Baños</label>
            </div>
        </div>
        <div class="row mb-3 p-0">
            <div class="col d-flex align-items-center">
                <select class="main-dropdown w-100" id="tipo" name="tipo">
                    <option value="">Indeferente</option>
                    <option value="1+">1+</option>
                    <option value="2+">2+</option>
                    <option value="3+">3+</option>
                    <option value="4+">4+</option>
                </select>
            </div>
            <div class="col d-flex align-items-center">
                <select class="main-dropdown w-100" id="tipo" name="tipo">
                    <option value="">Indeferente</option>
                    <option value="1+">1+</option>
                    <option value="2+">2+</option>
                    <option value="3+">3+</option>
                    <option value="4+">4+</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="row mb-1 p-0">
            <label for="price" class="text-black fs-5 fw-bold">Superficie</label>
        </div>
        <div class="row mb-1 p-0">
            <div class="col text-center">
                <label for="minPrice" class="text-black">Mínima</label>
            </div>
            <div class="col text-center">
                <label for="minPrice" class="text-black">Máxima</label>
            </div>
        </div>
        <div class="row p-1">
            <div class="col d-flex align-items-center" name="minPrice">
                <input type="range" class="form-range m-0" min="0" max="1000" step="50" id="customRange3">
            </div>
            <div class="col d-flex align-items-center" name="minPrice">
                <input type="range" class="form-range m-0" min="0" max="1000" step="50" id="customRange3">
            </div>
        </div>
        <hr />
        <div class="row mb-1 ">
            <label for="price" class="text-black fs-5 fw-bold">Extras</label>
            <div class="col px-5 py-2">
                <div class="row mb-3">
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                elevator
                            </span>
                            Ascensor
                        </label>
                    </div>
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                chair
                            </span>
                            Amueblado
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                local_parking
                            </span>
                            Parking
                        </label>
                    </div>
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                pool
                            </span>
                            Piscina
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                balcony
                            </span>
                            Balcón
                        </label>
                    </div>
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                deck
                            </span>
                            Terraza
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                garage_home
                            </span>
                            Trastero
                        </label>
                    </div>
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                outdoor_garden
                            </span>
                            Jardín
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                mode_fan
                            </span>
                            Aire acond...
                        </label>
                    </div>
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                kitchen
                            </span>
                            Electrodom...
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                fireplace
                            </span>
                            Calefacción
                        </label>
                    </div>
                    <div class="form-check form-switch col">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label d-flex align-items-center" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined mx-2">
                                pets
                            </span>
                            Mascotas
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mb-1 p-1">
                <div class="col-6 text-center">
                    <label for="minPrice" class="text-black fs-5 fw-bold">Fecha de publicación</label>
                </div>
                <div class="col-6 text-center">
                    <label for="minPrice" class="text-black fs-5 fw-bold">Estado del inmueble</label>
                </div>
            </div>
            <div class="row mb-3 p-3">
                <div class="col-6 d-flex align-items-start">
                    <select class="main-dropdown w-100" id="tipo" name="tipo">
                        <option value="">Indeferente</option>
                        <option value="1+">Hoy</option>
                        <option value="2+">Esta semana</option>
                        <option value="3+">Último mes</option>
                        <option value="4+">Últimos 6 meses</option>
                    </select>
                </div>
                <div class="col-6 align-items-center px-5">
                    <div class="row mb-3">
                        <div class="form-check form-switch col">
                            <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                            <label class="form-check-label d-flex align-items-center"
                                    for="flexSwitchCheckDefault">
                                <span class="material-symbols-outlined ms-2">stars</span>
                                <span class="material-symbols-outlined ">stars</span>
                                <span class="material-symbols-outlined me-2">stars</span>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-check form-switch col">
                            <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                            <label class="form-check-label d-flex align-items-center"
                                    for="flexSwitchCheckDefault">
                                <span class="material-symbols-outlined ms-2">stars</span>
                                <span class="material-symbols-outlined ">stars</span>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-check form-switch col">
                            <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                            <label class="form-check-label d-flex align-items-center"
                                    for="flexSwitchCheckDefault">
                                <span class="material-symbols-outlined ms-2">stars</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <button type="submit" class="btn main-bg text-white">Submit</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/js/my-properties-map.js"></script>
<script type="text/javascript" src="~/js/my-properties.js"></script>
<script type="text/javascript" src="~/js/properties-catalog.js"></script>

