@model IEnumerable<Kalaria.Models.FacilityImages>

@{
    ViewData["Title"] = "La Academia";
}
@{
    Layout = "_Layout";
}
<section class="container-fluid p-0 animation-to-left shadow bg-white">
    <div class="row">
        <div class="col-lg-7 position-relative">
            <div class="image-container">
                <img class="w-100 img-fluid" src="/images/the-academy/the-academy-header.jpg" />

            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <div class="container p-4">
                <div class="w-100 mb-1 mb-xl-5 p-0 sub-blue">
                    <p class="fs-1 fw-bold">KALARIA ACADEMY</p>
                </div>
                <p class="fs-5 text-black mt-5">
                    <strong>KALARIA ACADEMY</strong> es el lugar donde aprender es aventura y crecer es nuestra pasión. Con los mejores métodos tradicionales e innovadores,
                    guiamos a tu hijo hacia el éxito. ¡Únete y descubre un mundo de posibilidades para su futuro!</p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid text-center animation-to-right px-4 py-2  py-xl-5 shadow" >
    <div class="row">
        <div class="col-12 col-xl-4 p-2 d-flex align-items-center">
            <div class="container text-xl-end p-4">
                <div class="w-100 mb-1 mb-xl-5 p-0 sub-yellow">
                    <p class="fs-2 fw-bold">TÚ ELIGES</p>
                </div>
                <p class="fs-6 text-black">
                    Con nuestro equipo de docentes experimentados le ofrecemos clases en grupo en nuestras instalaciones y/o a domicilio para uno o más niños. ¡Descubra un mundo de posibilidades para su futuro con nosotros!
                </p>
            </div>

        </div>
        <div class="col-12 col-xl-8 p-1">
            <div class="row">
                <div class="col-md-6  ">
                    <div class="card border-0 shadow h-100">
                        <img class="card-img-top" src="/images/the-academy/the-academy-2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="fs-5 fw-bold mb-0 text-center">CLASES DE REFUERZO EN GRUPO</p>
                            <hr class="w-100" />
                            <p class="fs-6 mt-3 my-5 px-4">Nuestras actividades extraescolares promueven la diversión y las relaciones sociales, permitiendo a los participantes disfrutar de experiencias enriquecedoras e inolvidables.</p>
                            <div id="outer" class="container text-center mb-4">
                                <a class="button_slide slide_left" asp-area="" asp-controller="Requests" asp-action="RequestOnSiteAcademy">+ INFORMACIÓN</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 h-100 mt-5 mt-md-0 ">
                    <div class="card border-0 shadow">
                        <img class="card-img-top" src="/images/the-academy/the-academy-1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="fs-5 fw-bold mb-0 text-center">CLASES DE REFUERZO PARTICULARES</p>
                            <hr class="w-100" />
                            <p class="fs-6 mt-3 my-5 px-4">Nuestras actividades extraescolares promueven la diversión y las relaciones sociales, permitiendo a los participantes disfrutar de experiencias enriquecedoras e inolvidables.</p>
                            <div id="outer" class="container text-center mb-4">
                                <a class="button_slide slide_left" asp-area="" asp-controller="Requests" asp-action="RequestHomeAcademy">+ INFORMACIÓN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid text-center animation-to-left px-xl-4 py-2  py-xl-5 shadow">
    <div class="row">
        <div class="order-2 order-xl-0 col-12 col-xl-8">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" @(i == 0 ? "class=active" : "") aria-label="Slide @(i + 1)"></button>
                    }
                </div>
                <div class="carousel-inner shadow">
                    @foreach (var item in Model.Select((value, i) => new { i, value }))
                    {
                        <div class="carousel-item @(item.i == 0 ? "active" : "")">
                            <img src="@item.value.ImageUrl" class="d-block w-100" alt="@item.value.AltText">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-xl-4 p-2 d-xl-flex align-items-center my-5">
            <div class="container text-xl-start">
                <div class="w-100 mb-xl-5 p-0 sub-yellow">
                    <p class="fs-2 fw-bold">LAS INSTALACIONES</p>
                </div>
                <p class="fs-6 text-black d-none d-lg-flex">
                    Este estas son nuestras instalacines en la Algun Lugar, Gran Pais 3B. Contamos con X aulas en las que impartimos las clases siguiendo un horario en funcion de las edades de nuestros alumnos. ¿A que espera? ¡Venga a visitarnos!
                </p>
            </div>
        </div>
    </div>
</section>
